<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <style>
        #mapid { height: 500px; }
    </style>
    <meta charset="UTF-8">
    <title>Offices</title>
</head>
<body>
<h1>NGO Offices</h1>
<!--<ul>-->
<!--{% for field_office in field_offices %}-->
<!--    <li>-->
<!--        {{ field_office.number_of_staff }} : {{ field_office.distance }} {{field_office.tag}}-->
<!--    </li>-->
<!-- {% endfor %}-->
<!--</ul>-->
 <div id="mapid"></div>
<script>
    var map = L.map('mapid').setView([-1.28333, 36.81667], 6);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);



    // for each office do...
    {% for field_office in field_offices %}
    var circle = L.marker([{{ field_office.location.y}}, {{field_office.location.x}}], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 100
    }).addTo(map);
    circle.bindPopup("{{field_office.tag}} Staff Members = {{field_office.number_of_staff}}");
    {% endfor %}
    // for each office do...
    {% for head_office in head_office %}
    var circle = L.marker([{{ head_office.location.y}}, {{head_office.location.x}}], {
    color: 'red',
    fillColor: '#FF0000',
    fillOpacity: 0.5,
    radius: 100
    }).addTo(map);
    circle.bindPopup("{{head_office.tag}} Staff Members = {{head_office.number_of_staff}}");
    {% endfor %}

    // for each office do...
    {% for regional_office in regional_offices %}
    var circle = L.marker([{{ regional_office.location.y}}, {{regional_office.location.x}}], {
    color: 'blue',
    fillColor: '#FF0000',
    fillOpacity: 0.5,
    radius: 100
    }).addTo(map);
    {% for issue in issues %}
    {% if regional_office.id == issue.id %}
    circle.bindPopup("{{regional_office.tag}} Staff Members = {{regional_office.number_of_staff}} issue: {{issue.issue}}");
    {% endif %}
    {% endfor %}

    {% endfor %}
</script>
</body>
</html>